body {
  margin-top: 170px;
}

.sks-header {
  background-color: #1c4127;
  height: 120px;
  padding: 10px;
}

.sks-logo {
  width: 40%;
}

.sks-header .sks-social a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.fab {
  padding: 10px;
  font-size: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook-f {
  background: #3b5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.navbar {
  margin-top: 120px;
  height: 50px;
}
.navbar .nav-item {
  font-size: 1rem;
  padding-right: 2.4rem;
}

.sks-login ul {
  list-style-type: none;
  margin-top: 10px;
}

.sks-login ul li {
  color: rgb(202, 197, 197);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12px;
  display: inline;
  border-left: 1px solid rgb(109, 107, 107);
}

#showcase {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px;
}
#showcase .primary-overlay {
  background: rgba(31, 182, 209, 0.678);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.mybgcolor {
  background-color: #245734;
}

#authors img {
  margin-top: -50px;
}
#authors .card:hover {
  background: #3292a6;
  color: white;
}
#authors .fab {
  color: white;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }
  #showcase h1 {
    font-size: 4rem;
  }

  .mb-small {
    margin-bottom: 1rem;
  }

  .small-box {
    height: auto;
    width: 80%;
    margin-left: 10%;
  }
}
