body {
  margin-top: 170px;
}

/* #8D6346 #4C2B36 #F77F00 #84DCCF 
#D1462F #D9AE61 #C8963E #E3C567 #7F6148
#EE4266 #FA8334 #2A1E5C #0A0F0D #3CBBB1*/

.sks-header {
  background: url(../img/photo-1530982011887-3cc11cc85693.jpeg);
  height: 120px;
  padding: 10px;
}

.sks-logo {
  width: 40%;
}

.sks-header .sks-social a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.fab {
  padding: 10px;
  font-size: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook-f {
  background: #3b5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.navbar {
  margin-top: 120px;
  height: 50px;
  background-color: #363537;
  border-top: 1px solid rgb(243, 142, 75);
  border-bottom: 1px solid rgb(243, 142, 75);
}
.navbar .nav-item {
  font-size: 1rem;
  padding-right: 2.4rem;
}

.sks-login ul {
  list-style-type: none;
  margin-top: 10px;
}

.sks-login ul li {
  color: rgb(248, 248, 248);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12px;
  display: inline;
  border-left: 1px solid rgb(109, 107, 107);
}

#showcase {
  position: relative;
  background: url(../img/mysore-palace-1584546_960_720.jpg) no-repeat;
  background-size: 100% 730px;
  min-height: 500px;
  background-position-y: -70px;
  width: 100%;
}
#showcase .primary-overlay {
  background: rgba(43, 24, 12, 0.432);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mybgcolor {
  background-color: #eae2b7;
}

#authors img {
  margin-top: -50px;
}
#authors .card:hover {
  background: #3292a6;
  color: white;
}
#authors .fab {
  color: white;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }
  #showcase h1 {
    font-size: 4rem;
  }

  .mb-small {
    margin-bottom: 1rem;
  }

  .small-box {
    height: auto;
    width: 80%;
    margin-left: 10%;
  }
}
