$primary: #372549;
$primary-overlay: rgba(57, 28, 63, 0.7);

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: white;
}

.navbar .nav-item {
  font-size: 1.3rem;
  padding-right: 1.4rem;
}

#showcase {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px;

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.mybgcolor {
  background-color: #372549;
}

.about-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid rgba(172, 162, 162, 0.156);
}

#authors {
  img {
    margin-top: -50px;
  }
  .card:hover {
    background: $primary;
    color: white;
  }
  .fab {
    color: white;
  }
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 4rem;
    }
  }

  .mb-small {
    margin-bottom: 1rem;
  }

  .small-box {
    height: auto;
    width: 80%;
    margin-left: 10%;
  }
}
